.App {
  background: linear-gradient(to bottom right, #246655, #ffffff) no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  width: 100vw; 

  font-size: 41px;
  font-family: 'Raleway', sans-serif;

  animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

#github{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  
  max-width: 5vw;
  max-height: auto;
}

a:link,
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	color: grey;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}