#arrows{
    margin: 0;
    padding-left: 15px;
    position: relative;
    top: -25px;
}

#go{
    margin: 0;
    padding-left: 40px;
}

#upArrow:hover , #downArrow:hover, #goArrow:hover{
    color: gray;
}

