#arrows{
    margin: 0;
    padding-left: 15px;
    position: relative;
    top: -25px;
}

#go{
    margin: 0;
    padding-left: 40px;
}

#upArrow:hover , #downArrow:hover, #go:hover, #leftArrow:hover, #rightArrow:hover{
    color: gray;
}

.mobile-arrows{
    display: none;
}


@media (max-width: 450px){
    #go{
        padding-left: 0;
    }
    #arrows{
        top: -49px;
        right: 45px;
    }
    #upArrow, #downArrow{
        display: none;
    }
    .mobile-arrows{
        display: inline;
    }
    #leftArrow{
        padding-right: 5px;
    }
}