#arrows{
    margin: 0;
    padding-left: 15px;
    position: relative;
    top: -25px;
}

#go{
    margin: 0;
    padding-left: 40px;
}

#upArrow:hover , #downArrow:hover, #goArrow:hover{
    color: gray;
}

@media (max-width: 450px){
    #go{
        padding-left: 20px;
    }
    #arrow{
        padding-left: 5px;
    }
}

@media (max-width: 324px){
    #go{
        padding-left: 20px;
    }
    #arrow{
        padding-left: 5px;
    }
}