.result-page-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #5a75b0, #f0f8ff) 100% no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.result-hero-text-container {
    text-align: center;
}

.result-error-msg {
    color: 'red'
}


.item-info {
    display: grid;
    grid-template-columns:  auto auto;
    
    perspective: 600px;
    padding: 5px;
}

.image-container{
    
    transform: rotateY(-30deg);
    padding: 20px;
}

.item-image {
    background-size: contain;

    max-height: 30vh;
    max-width: auto;

    overflow: hidden;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.6);
    transform: translateY(0px);
    animation: floating 6s ease-in-out infinite;

}

.item-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-right: 30px;
    max-width: 40vw;
    min-width: 200px;
    max-height: auto;
}

.item-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.item-description {
    font-size: 20px;
}


@keyframes floating {
    0% {
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
    50% {
        box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.2);
        transform: translateY(-20px);
    }
    100% {
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (min-width: 700px){
    .item-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 75%;
    }
    
 }
 
 @media (max-width: 699px){
     .result-page-container{
         min-width: 100vw;
         min-height: 100vh;
     }
     .item-container{
         display: grid;
         grid-template-rows: auto auto;
         max-width: 100vw;
     }
     .item-text-container{
         padding-right: 10px;
     }
     .image-container{
         padding-left: 5px;
     }
 }
 
 @media (max-width: 400px){
    .result-page-container{
        min-width: 500px;
        min-height: 1000px;
    }
   .result-hero-text-container{
       font-size: 35px;
   }
   .item-container{
       width: 100%;
   }
   .item-description{
       font-size: 18px;
       padding-left: 20px;
   }
 }