
@import '~antd/dist/antd.css';
.result-page-container {
    height: 100vh;
    width: 100vw;

    background: linear-gradient(to bottom right, #246655, #ffffff) no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

      
    animation: fadein 2s;
      -moz-animation: fadein 2s;
      -webkit-animation: fadein 2s;
      -o-animation: fadein 2s;
}

.result-hero-text-container {
    width: 100%;
    text-align: center;
}

.result-error-msg {
    color: 'red'
}


.item-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    perspective: 600px;
}

.image-container{
    transform: rotateY(-30deg);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image {
    background-size: contain;

    max-height: 25vh;
    max-width: auto;

    overflow: hidden;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.6);
    transform: translateY(0px);
    animation: floating 6s ease-in-out infinite;

}

.item-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 60%;
    max-height: auto;
}

.item-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.item-description {
    
    padding: 10px;
    font-size: 20px;
    text-overflow: ellipsis;
}

.item-stores {
    font-size: 15px;
}

/* Iphone X */
@media screen and (max-width: 700px) {
    .result-hero-text-container {
        font-size: 20px;
    }
    .item-info {
        flex-direction: column-reverse;
    }
    .item-image {
        max-height: 20vh;
    }
    .item-text-container {
        height: 40%;
        width: 100%;
    }
    .item-description {
        font-size: 12px;
        text-overflow: ellipsis;
    }
}

@media screen and (min-height: 1024px) {
    .item-info {
        margin-top: 50px;
    }
}


@keyframes floating {
    0% {
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
    50% {
        box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.2);
        transform: translateY(-20px);
    }
    100% {
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }